h3 {
    background-color: brown;
}

img {
    height: auto;
    width: 50%;
    float: right;
}

.Subway {
    margin: 25px 0 0 100px;
}

.drink {
    border: 5px solid yellow;
    padding: 0 2em 0 2em;
}

#desno {
    text-align: right;
}

#font {
    font-size: 1.2em;
}

#fat {
    font-weight: bold;
}

#viola {
    color: purple;
}